* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main-text-color: #191970;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background-image: url(./assets/images/pattern.png);
  font-family: 'Josefin Sans', sans-serif;
  color: var(--main-text-color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0 10px;
  background-color: var(--main-text-color);
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  height: 50px;
  background-color: var(--main-text-color);
}

h1, h4, h5, p, li {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60%;
}

.header-nav {
  display: flex;
  justify-content: center;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: 3px solid white;
  font-size: 1.8em;
  padding-top: 5px;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.header-logo:hover {
  transition: 0.3s;
  border: 3px solid gold;
  color: gold;
}
.nav-link:hover, a:hover {
  transition: 0.3s;
  color: gold;
}
.header-nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  margin: 0 40px 0 0;
  gap: 20px;
  font-size: 1.4em;
  line-height: 1.8em;
}
.nav-link {
  position: relative;
  display: flex;
  text-decoration: none;
  padding: 0 5px;
}
.nav-link::after { 
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: gold;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.nav-link:hover::after { 
  width: 100%; 
  left: 0; 
}

.section-about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 10px 0px 10px 40px;
}

.about-photo-wrapper {
  display: flex;
  width: auto; 
}

.about-photo {
  display: flex;
  width: 250px;
}

.about-content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 20px;
}

.name {
  display: flex;
  font-family: 'Righteous', cursive;
  font-size: 3em;
  margin-left: 40px;
  padding-right: 10px;
}

.about-quo {
  margin: 10px 0 15px 0;
  font-size: 1.5em;
  line-height: 1.7em;
  background-color: black;
  color: gold;
  padding-left: 40px;
}

.about-age {
  padding-left: 40px;
  font-style: italic;
  color: black;
}

.about-text {
  padding: 0 40px;
  margin: 15px 0;
}

.main-section {
  display: flex;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 25%;
  color: black;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  padding-bottom: 15px;
  background-color: var(--main-text-color);
  color: white;
}

.skills-section-title {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0 0;
}
.line {
  border: 2px solid white;
  margin: 5px 20px 5px 0;
}
.line2 {
  border: 2px solid black;
  margin: 5px 20px 5px 0;
}
.contact-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  gap: 10px;
}
.contact-text {
  display: flex;
  flex-direction: column;
  text-align: end;
  font-weight: 600;
  font-size: 0.8em;
  padding-left: 10px;
}
.phone-img {
  width: 20px;
  height: 20px;
  background-image: url(./assets/icons/phone.png);
  background-size: cover;
  filter: invert(1);
}
.telegram-img {
  width: 20px;
  height: 20px;
  background-image: url(./assets/icons/telegram.png);
  background-size: cover;
  filter: invert(1);
}
.mail-img {
  width: 20px;
  height: 20px;
  background-image: url(./assets/icons/mail.png);
  background-size: cover;
  filter: invert(1);
}
.linkedin-img {
  width: 20px;
  height: 20px;
  background-image: url(./assets/icons/linkedin.png);
  background-size: cover;
  filter: invert(1);
}
.education, .languages {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  padding-bottom: 15px;
  line-height: 1em;
  color: black;
}
.education-speciality {
  font-style: italic;
  font-weight: 300;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  padding-bottom: 15px;
  background-color: var(--main-text-color);
  color: white;
}

.skills-text {
  display: flex;
  flex-direction: column;
  text-align: end;
  font-weight: 600;
  font-size: 0.8em;
  gap: 10px;
  padding-left: 10px;
  line-height: 1.3em;
}

.experience-wrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.experience-section-title {
  display: flex;
  padding: 20px 0 4px 40px;
}

.line-exp {
  border: 2px solid var(--main-text-color);
  margin: 5px 0 5px 40px;
}

.job-block {
  display: flex;
  flex-direction: column;
}

.job-title-block {
  display: flex;
  flex-direction: column;
  line-height: 1.2em;
}
.job-date {
  font-size: 0.8em;
  font-style: italic;
  padding: 0 40px 10px 40px;
}

.workplace-title {
  padding: 15px 40px 0 40px;
}

.job-title {
  font-size: 0.8em;
  font-style: italic;
  background-color: black;
  color: gold;
  padding: 0 40px 0 40px;
}

.job-content {
  padding: 0 40px 0 40px;
}

.content-list {
  line-height: 1.4em;
  padding-left: 55px;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.player {
  display: flex;
  width: 70%;
  padding-bottom: 20px;
}


.slider-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
}

.slider {
	display: flex;
	background-color:white;
  width: 70%;
  height: 100%;
	overflow: hidden;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

input {
    display: none;
}

.slides {
  display: flex;
  width: 0;
	visibility: hidden;
	transition: all ease-in-out 0.5s;
	background-position: center;
	background-repeat: no-repeat;
  background-size: auto 100%;
}
.slide0 {
    background-image: url('./assets/images/slide0.jpg');
}
.slide1 {
    background-image: url('./assets/images/slide1.jpg');
}
.slide2 {
    background-image: url('./assets/images/slide2.jpg');
}
.slide3 {
    background-image: url('./assets/images/slide3.jpg');
}

#slide0:checked ~ .slider > .slide0,
#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3 {
	width: 100%;
	visibility: visible;
	opacity: 1;
}

.controls {
	display: flex;
	align-self: center;
	justify-content: space-around;
	align-items: center;
	width: 150px;
	height: 3em;
	margin-right: 1em;
  padding: 25px 0;
}
.controls label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5em;
	height: 2.5em;
	position: relative;
	border-radius: 50%;
	transition: all ease-in-out 0.5s;
	cursor: pointer;
}

label:hover {
	cursor: pointer;
}

.controls label:hover .point {
	border: 2px solid red;
	transition: 0.5s;
}

.controls .point {
	border: 2px solid black;
	content: " ";
	display: block;
	height: 1em;
	width: 1em;
	border-radius: 100%;
}

#slide0:checked ~ .controls label:nth-of-type(1) > .point,
#slide1:checked ~ .controls label:nth-of-type(2) > .point,
#slide2:checked ~ .controls label:nth-of-type(3) > .point,
#slide3:checked ~ .controls label:nth-of-type(4) > .point {
	background: gold;
}

.menu-btn {
  display: flex;
  visibility: hidden;
  align-items: center; 
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 2;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  transition-duration: 0.3s;
}

.menu-btn > span::before {
  content: '';
  top: -12px;
  transition-duration: 0.3s;
}
.menu-btn > span::after {
  content: '';
  top: 12px;
  transition-duration: 0.3s;
}

.nav-list-wrapper {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  opacity: 0.2;
  background-color: black;  
}

@media (max-width: 1000px) {
  .menu-btn {
    visibility: visible;
  }
  .header-nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    flex-direction: column;
    width: 40%;
    background-color: var(--main-text-color);
    padding: 30px;
    top: 0;
    right: -100%;
    visibility: hidden;
    margin: 0;
    transition-duration: 0.3s;
    z-index: 1;
  }
  #burger:checked ~ .menu-btn > span {
    transform: rotate(45deg);
    transition-duration: 0.3s;
  }
  #burger:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
    transition-duration: 0.3s;
  }
  #burger:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
    transition-duration: 0.3s;
  }
  #burger:checked ~ .header-nav-list {
    visibility: visible;
    right: 0%;
    transition-duration: 0.3s;
  }
  #burger:checked ~ .menu-btn {
    position: fixed;
  }
  .nav-list-wrapper {
    width: 100vw;
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .header-nav-list {
    width: 100%;
    align-items: center;
  }
  .section-about {
    flex-direction: column;
    padding-left: 0;
  }
  .name {
    align-self: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .about-quo {
    text-align: center;
    padding-left: 0;
  }
  .main-section {
    flex-direction: column-reverse;
  }
  .experience-wrapper {
    width: 100%;
  }
  .skills-wrapper {
    width: 100%;
  }
  .skills-section-title {
    justify-content: center;
  }
  .experience-section-title {
    justify-content: center;
    padding-left: 0;
  }
  .content-list {
    padding-right: 20px;
  }
  .line-exp {
    margin: 0 20px;
  }
  .line, .line2 {
    margin-left: 20px;
  }
  .contact-block, .contact-text  {
    justify-content: center;
    text-align: center;
  }
  .skills-text {
    text-align: center;
  }
  .slides {
    background-size: 100% auto;
  }
  .education {
    order: -1;
    background-color: var(--main-text-color);
    color: aliceblue;
  }
  .languages {
    background-color: var(--main-text-color);
    color: aliceblue;
  }
  .contacts {
    order: 2;
    background-color: white;
    color: var(--main-text-color)
  }
  .skills {
    background-color: white;
    color: var(--main-text-color)
  }
  .line {
    border: 2px solid var(--main-text-color);
  }
  .line2 {
    border: 2px solid white;
  }
  .contacts > .contact-block > .contact-text > a {
    color: var(--main-text-color);
  }
  .contacts > .contact-block > .phone-img,
  .contacts > .contact-block > .mail-img,
  .contacts > .contact-block > .linkedin-img,
  .contacts > .contact-block > .telegram-img {
    filter: invert(13%) sepia(51%) saturate(3153%) hue-rotate(229deg) brightness(89%) contrast(108%);
  }
}